/* /Pages/Index.razor.rz.scp.css */
.img[b-3ahe6nqv6w], #carouselExampleCaptions[b-3ahe6nqv6w] {
    height: calc(100vh - 3rem);
}

.img[b-3ahe6nqv6w] {
    object-position: 50%;
    object-fit: cover;
    position: absolute;
}
