/* /Pages/Index.razor.rz.scp.css */
.carousel-caption[b-3ahe6nqv6w] {
    bottom: 3rem;
    z-index: 10;
}

img[b-3ahe6nqv6w], #carouselExampleCaptions[b-3ahe6nqv6w] {
    height: calc(100vh - 6rem);
}

img[b-3ahe6nqv6w] {
    object-position: 50%;
    object-fit: cover;
}
/* /Shared/ImagesPages.razor.rz.scp.css */
.img[b-etonpiciui] {
    height: 50vh;
}

img[b-etonpiciui] {
    object-fit: cover;
    object-position: 50%;
}

.carousel-caption[b-etonpiciui] {
    height: calc(100% - 1.25rem * 2);
    width: 100%;
}
