@page "/chateau_des_ducs_de_bretagne"

<PageTitle>Château des ducs de Bretagne</PageTitle>

<div class="container">
    <ImagesPages Image="IMG_20220321_152210.jpg" Title="Château des ducs de Bretagne" />
</div>

<div class="container">
    <div class="timeline text-light">
        <div class="timeline-row">
            <div class="timeline-time">
                IIIe siècle<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-attachment"></i>
                <h4>Bas-Empire romain</h4>
                <p>Construction d’une enceinte autour de la ville gallo-romaine de Nantes (Portus Namnetum).</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                IXe siècle<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-code"></i>
                <h4>Haut Moyen Âge</h4>
                <p>Les évêques de Nantes construisent un rempart (et un « château ») « autour » de la cathédrale
                    (Fulcherius […] castrum, muro factum, circa eam componere).</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                843<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Nantes est pillée, puis occupée par les Normands, la cathédrale et la fortification des évêques sont
                    endommagées puis laissées à l’abandon.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                937<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Alain Barbetorte chasse les Normands de Nantes puis restaure la fortification des évêques, il loge
                    dans « la tour principale » (terrarium magnum in circuitu Ecclesia facere, sicut murus prioris
                    castri steterat. Quo facto turrem principalem reficicus, in ea dumum suam constituit).</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                988<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Conan, comte de Rennes, s’empare du château dont il confie la garde à l’évêque de Vannes et fait
                    construire le château du Bouffay.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                Début du XIe siècle<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>L’évêque Gaultier construit une « maison forte » près du rempart d’Alain Barbetorte, ce château est
                    pris et pillé par le comte Budic.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1206<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Le roi Philippe Auguste, à Nantes, règle le mariage de l’héritière du duché (Alix) avec un prince
                    capétien (Pierre de Dreux, fils de Robert II, cousin du roi). La Bretagne rentre ainsi dans l’orbite
                    du royaume de France. (Le mariage sera célébré en 1213, la Bretagne sera officiellement érigée en
                    duché par le roi de France.)</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1207<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Hypothèse du début de la construction du « château de la Tour neuve », sur des terrains appartenant
                    au moins pour partie aux évêques, et de la nouvelle enceinte urbaine ; les travaux commencent par le
                    creusement des fossés.
                    Attaque de Nantes par Jean sans Terre.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1247<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Fondation du couvent des Dominicains (dits Jacobins) de Nantes.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1248<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Une sentence mentionne un terrain « sous les murs de la ville » où se trouve le « château de la Tour
                    neuve ».</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1312<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Mort du duc Arthur II.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1341<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Prise de Nantes et du château par Charles de Blois.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1364<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Travaux au château réalisés par Jeanne de Bretagne.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1367<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Le duc Jean IV de Montfort répare (et agrandit ?) le château.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1399<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Mort de Jean IV.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1440<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Procès de Gilles de Rais. Il est arrêté et enfermé au « château de la Tour neuve » dans lequel se
                    déroule la première partie de son procès.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1442<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Mort du duc Jean V.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1455<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Séjour du roi de Sicile, René d’Anjou.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1457<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Mort du duc Pierre II.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1458<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Mort du duc Arthur III.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1461<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Séjour du roi de France Louis XI.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1466<small>12 octobre</small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Mandement du duc de Bretagne François II commandant la construction d’un nouveau château en
                    remplacement du « château de la Tour neuve », jugé trop petit et trop vétuste pour pouvoir être
                    transformé ou réaménagé. La construction est dirigée par Mathelin (ou Mathurin) Radier, par ailleurs
                    maître d’œuvre des travaux de la cathédrale.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1469<small>25 septembre</small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Mort de Marguerite de Bretagne, première épouse du duc François II.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1471<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Mariage de François II et Marguerite de Foix.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1477<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Naissance d’Anne de Bretagne.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1480<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Le cimetière et divers terrains des jacobins sont pris pour la construction du front ouest du château
                    (notamment les douves).
                    Le premier logis de François Il reçoit sa couverture.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1486<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Mort de Marguerite de Foix.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1487<small>19 juin</small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Siège de Nantes par les troupes françaises commandées par Louis II de La Trémoille. Le siège prend
                    fin le 6 août. Le château est considérablement abîmé.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1488<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Mort de François II.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1491<small>20 mars</small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Les troupes royales prennent Nantes, le château est livré à Charles VIII.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1491<small>4 avril</small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Entrée royale de Charles VIII.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1491<small>6 décembre</small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Mariage du roi Charles VIII et de la duchesse Anne de Bretagne. « rattachement » de fait de la
                    Bretagne à la France.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1496<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>L’enceinte du château est réparée et garnie de pièces d’artillerie (des travaux ont aussi lieu sur
                    l’enceinte urbaine, notamment sur les portes).</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1498<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Visite de Machiavel.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1499<small>8 janvier</small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Mariage de Louis XII et Anne de Bretagne au château. Achèvement du palais ducal par Anne.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1500<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-turned_in_not"></i>
                <h4></h4>
                <p>Séjour d’Anne de Bretagne et Louis XII.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1505<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Séjour d’Anne de Bretagne.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1510<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Séjour de Louis XII.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1518, 1520, 1522<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Séjour du roi François 1er et de Claude de France. Achèvement du château.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1532<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Séjour de François Ier. « Union perpétuelle » de la Bretagne à la France.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1534<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>François Ier ordonne des réparations sur les fortifications de la ville et du château.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1548<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Séjour de Marie Stuart.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1551<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Séjour du roi Henri II et de Catherine de Médicis.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1565<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Séjour du roi Charles IX.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1582<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Philippe-Emmanuel de Mercœur, gouverneur de Bretagne.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1588 – 1598<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Le duc de Mercœur, chef du parti ligueur, remet le château (et la ville) en état de défense :
                    construction de la caponnière, du bastion Saint-Pierre, du bastion de Mercœur et de la terrasse de
                    Mercœur.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1598<small>avril</small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Séjour d’Henri IV au château. Signature de l’édit de Nantes.
                    Gabrielle d’Estrées donne naissance à Alexandre, « chevalier de Vendôme ».</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1614<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Séjour du roi Louis XIII, de la reine Marie de Médicis et du cardinal de Richelieu.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1616<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Démolition des pavillons couronnant les tours des Espagnols et des Jacobins (et du Vieux Donjon ?).
                </p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1622<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Séjour de Louis XIII et de Richelieu.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1626<small>juillet – août</small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Louis XIII préside les états de Bretagne.
                    Affaire de Chalais.
                    Fiançailles puis mariage de Gaston d’Orléans et de Marie de Bourbon, duchesse de Montpensier, 5 – 6
                    août.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1643<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Détention d’officiers espagnols à la suite des victoires de Rocroi et de Mardyck.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1661<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Séjour du roi Louis XIV. Arrestation de Nicolas Fouquet.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1664<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Emprisonnement et évasion du cardinal de Retz.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1675<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Visite de Madame de Sévigné.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1686<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Visite de l’ex-roi Jacques II d’Angleterre.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1720<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Affaire de Pontcallec. Le procès se déroule au château.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1777<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Visite du frère du roi, le comte d’Artois, futur Charles X.
                    Visite de Joseph II, empereur germanique et archiduc d’Autriche.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1784<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Transformation du château en arsenal, démolition de la terrasse de Mercœur et de la plupart des
                    bâtiments annexes, construction du bâtiment du Harnachement.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1789<small>juillet</small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Prise du château par les Nantais.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1791 – 1792<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Détention de prêtres réfractaires.
                    Demande de démantèlement du château par la municipalité. L’État accepte de le vendre mais la ville
                    ne sera pas en mesure de payer la somme demandée.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1800<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Explosion de la poudrière de la tour des Espagnols, l’angle nord-ouest du château est détruit : tour
                    des Espagnols, aile du Lieutenant du roi, y compris la chapelle et la salle dite « des archives »,
                    et la partie nord du Grand Gouvernement. Une partie des débris sert au comblement des caves.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1808<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Visite de Napoléon Ier.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1832<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Emprisonnement de la duchesse de Berry.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1853<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Destruction du bastion de Mercœur, « redécouverte » et restauration de la tour du Port.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1854 – 1858<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Reconstruction des lucarnes sur cour du Grand Logis.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1862<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Le château est classé monument historique.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1873<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>La ville revendique la propriété du château.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1877<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Restauration des lucarnes du Grand Gouvernement.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1899 – 1902<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Projet de l’architecte Déverin de transformer le château en hôtel de ville.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1915<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Le château est définitivement cédé à la ville. La nouvelle prise de possession se fera au lendemain
                    de la Première Guerre mondiale.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1924<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Inauguration du musée d’Art décoratif.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1930<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Visite du président de la République Gaston Doumergue.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1932<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Visite du président de la République Édouard Herriot. Discours au château de Nantes.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1942 – 1943<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Les Allemands réquisitionnent le château. Un blockhaus est construit.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1948<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Visite du général de Gaulle.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                1989<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Début de la rénovation complète du château.</p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                2007<small></small>
            </div>
            <div class="timeline-content">
                <i class="icon-directions"></i>
                <h4></h4>
                <p>Ouverture du château rénové et du nouveau musée d’histoire de Nantes.</p>
            </div>
        </div>

    </div>
</div>