@page "/chutes_d'iguaçu"

<PageTitle>Kawah Ijen</PageTitle>

<ImagesPages Image="Chutes d'Iguaçu.jpg" Title="Chutes d'Iguaçu" Color="text-white"/>

<div class="container">
    <h2>Description :</h2>
    <p>Les chutes d'Iguazú (en espagnol : cataratas del Iguazú), chutes d'Iguaçu (en portugais : cataratas do Iguaçu) ou encore chutes d'Iguassu, 
    situées au milieu de la forêt tropicale, à la frontière entre l'Argentine (80 %) et le Brésil (20 %), sont des chutes d'eau constituant un site naturel 
    inscrit au patrimoine mondial par l'UNESCO en 1984. La première description du site par un Européen a été effectuée par Álvar Núñez Cabeza de Vaca au XVIe siècle. 
    De part et d'autre des chutes ont été créés des parcs nationaux, le parc national de l'Iguaçu au Brésil et le parc national d'Iguazú en Argentine. 
    De chaque côté de la frontière, les chutes font partie d'une réserve naturelle : le parc national d'Iguazú (Argentine) et le Parc national de l'Iguaçu (Brésil). 
    Ces parcs ont été inscrits sur la liste du patrimoine mondial par l'UNESCO en 1984 et 1986, respectivement.
    La majorité des chutes sont sur le territoire Argentin. En Argentine, plusieurs circuits de visites ont été aménagés au milieu de la forêt et au-dessus des 
    différentes branches du fleuve, via différentes passerelles. Il est possible de s'approcher à quelques mètres seulement des chutes. 
    Le train écologique de la jungle mène aux différents points de départ des visites, dont la cascade la plus impressionnante, la Garganta del Diablo 
    (en forme de U ; 700 m de long, 150 m de large et 82 m de hauteur).

</p>
</div>