@page "/"

<PageTitle>Accueil</PageTitle>

<div id="home_carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#home_carousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#home_carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#home_carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#home_carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <NavLink href="chateau_des_ducs_de_bretagne">
                <img src="images/IMG_20220321_152210.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block text-white" style="background-color: rgba(0, 0, 0, 0.7);">
                    <h1>Château des ducs de Bretagne</h1>
                    <p>Une description chronologique du chateau le plus historique de Nantes.</p>
                </div>
            </NavLink>
        </div>
        <div class="carousel-item">
            <NavLink href="machu_picchu">
                <img src="images/machupicchu.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block text-white" style="background-color: rgba(0, 0, 0, 0.7);" >
                    <h1>Machu Picchu</h1>
                    <p>Les ruines les plus populaires d'Amérique du Sud.</p>
                </div>
            </NavLink>
        </div>
        <div class="carousel-item">
            <NavLink href="kawah_ijen">
                <img src="images/kawah_ijen.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block text-white" style="background-color: rgba(0, 0, 0, 0.7);">
                    <h1>Kawah Ijen</h1>
                    <p>Un des volcan les plus dangereux et spectaculaire du monde.</p>
                </div>
            </NavLink>
        </div>
        <div class="carousel-item">
            <NavLink href="chutes_d'Iguaçu">
                <img src="images/Chutes d'Iguaçu.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block text-white" style="background-color: rgba(0, 0, 0, 0.7);">
                    <h1>Chutes d'Iguaçu</h1>
                    <p>Les cascades d'Iguaçu, une merveille de la nature.</p>
                </div>
            </NavLink>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#home_carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#home_carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>