.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

img, #home_carousel {
    height: calc(100vh - 6rem);
}

img {
    object-position: 50%;
    object-fit: cover;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}