@page "/kawah_ijen"

<PageTitle>Kawah Ijen</PageTitle>

<ImagesPages Image="kawah_ijen.webp" Title="Kawah Ijen" Color="text-dark"/>

<div class="container">
    <h2>Description :</h2>
    <p>Sa somptuosité ne doit pas vous tromper, ce lieu est en réalité le plus grand lac d’acide du monde :
Avec sa quarantaine de volcans actifs, l’île de Java en Indonésie possède à elle seule près d’un tiers des volcans qui dominent l’archipel indonésien. 
Le Kawah Ijen, situé à l’extrémité est de Java, est aujourd’hui l’un des plus connus et des plus fréquentés de l’île avec le mont Bromo. 
Son lac acide et ses impressionnants porteurs de soufre, rendus célèbres en France notamment grâce aux reportages de Nicolas Hulot, 
attirent chaque année son lot de randonneurs curieux. Un séjour en Indonésie réussi ne saurait faire l’impasse sur une ascension de volcan, 
cette région d’Asie du Sud-Est offrant par ailleurs un large choix de treks, en fonction de la condition physique de chacun.
Le Kawah Ijen est situé au sud-est de la caldeira de Kendeng. Cette caldeira, dont la formation remonte  à environ 50 000 ans, 
résulte de l’éruption explosive qui détruisit l’Old Ijen, l’ancien volcan qui culminait à 3500 mètres.
Une épaisse fumée blanche sort du cratère et se dissipe au gré du vent. Ce sont les solfatares, ces fumerolles chargées de dioxyde de soufre et d’acide chlorhydrique 
fortement irritantes. A ce titre, il est vivement conseillé de prévoir un masque à oxygène ou, à défaut, un foulard humide pour se prémunir des émanations de soufre ! 
La descente dans la soufrière n’est pas formellement interdite, à condition d’être prudent car le chemin pour descendre est pentu et parfois glissant. 
Avant le lever du soleil, on peut observer d’étranges coulées de lave bleue qui semblent ruisseler sur les flancs du cratère. 
Il s’agit en fait de soufre à l’état gazeux, qui s’enflamme au contact de l’air, offrant ainsi un spectacle totalement surréaliste, et réalisé sans trucage !
</p>
</div>