@page "/machu_picchu"

<PageTitle>Machu Picchu</PageTitle>

<ImagesPages Image="machupicchu.jpg" Title="Machu Picchu" Color="text-white"/>

<div class="container">
    <h2>Description :</h2>
    <p>Machu Picchu (du quachua machu : vieille, et pikchu : montagne, sommet)est une ancienne cité inca du xve siècle
        au Pérou, perchée sur un promontoire rocheux qui unit les monts Machu Picchu et Huayna Picchu (« le Jeune Pic »
        en quechua) sur le versant oriental des Andes centrales. Son nom aurait été Pikchu ou Picho.
        Selon des documents du xvie siècle, trouvés par l'archéologue américain Hiram Bingham, professeur assistant
        d'histoire de l'Amérique latine à l’université Yale, Machu Picchu aurait dû être une des résidences de
        l’empereur Pachacútec. Cependant, quelques-unes des plus grandes constructions et le caractère cérémonial de la
        principale voie d’accès au llaqta démontreraient que le lieu fut utilisé comme un sanctuaire religieux2. Les
        deux usages ne s’excluent pas forcément. En revanche, les experts ont écarté l’idée d’un ouvrage
        militaire3.Abandonnée lors de l’effondrement de l'empire inca et avant la fin de sa construction, Machu Picchu,
        la ville sacrée oubliée durant des siècles, est considérée comme une œuvre maîtresse de l’architecture inca</p>
</div>