@page "/mere_patrie"

<PageTitle>Château des ducs de Bretagne</PageTitle>

<ImagesPages Image="IMG_20220321_152210.jpg" Title="Château des ducs de Bretagne" />

<div class="container">
    <h2>Description :</h2>
    <p></p>
</div>