<div class="container">
    <div class="carousel slide active img">
        <img src="images/@Image" class="d-block w-100 img rounded" alt="...">
        <div class="position-absolute top-50 start-50 translate-middle text-light container text-center">
            <h1>@Title</h1>
            <p>@Description</p>
        </div>
    </div>
</div>
<div class="divider"></div>

@code {
    [Parameter]
    public string? Image { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Description { get; set; }
}
